/* Rozcestník */
html, body {
    background-color: #0f0f23;
    color: #99ff99;
    /*font-family: "Source Code Pro", monospace;*/
    font-family: monospace;
}

main {
    position: relative;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #99ff99;
    text-shadow: 0 0 2px #99ff99, 0 0 5px #99ff99;
}

#intersection {
    position: relative;
    margin-left: 17.5%;
}

.container {
    display: flex;
    width: 100%;
    border: 1px solid #99ff99;
    flex-wrap: wrap;
}
.advent_days {
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid #99ff99;
    background-color: transparent;
    font-size: 25px;
    font-weight: bolder;
    color: #99ff99;
    text-align: center;
    /* Vycentrování textu vertikálně */
    line-height: 100px;
}
.advent_days:hover {
    background-color: #99ff99;
    color: #0f0f23;
}

a:nth-child(1) div {
    background-color: #99ff99;
    color: #0f0f23;
}
a:nth-child(1) div:hover {
    background-color: #0f0f23;
    color: #99ff99;
}
a:nth-child(1) div .status {
    display: block;
}

a:nth-child(2) div {
    background-color: #99ff99;
    color: #0f0f23;
}
a:nth-child(2) div:hover {
    background-color: #0f0f23;
    color: #99ff99;
}
a:nth-child(2) div .status {
    display: block;
}
a:nth-child(3) div {
    background-color: #99ff99;
    color: #0f0f23;
}
a:nth-child(3) div:hover {
    background-color: #0f0f23;
    color: #99ff99;
}
a:nth-child(3) div .status {
    display: block;
}
a:nth-child(4) div {
    background-color: #99ff99;
    color: #0f0f23;
}
a:nth-child(4) div:hover {
    background-color: #0f0f23;
    color: #99ff99;
}
a:nth-child(4) div .status {
    display: block;
}