html, body {
    background-color: #0f0f23;
    color: #99ff99;
    /*font-family: "Source Code Pro", monospace;*/
    font-family: monospace;
}

main {
    position: relative;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #99ff99;
    text-shadow: 0 0 2px #99ff99, 0 0 5px #99ff99;
}